#initialActorGrid{
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.initialActorCard{
    border-radius: 24px;
    background-color: rgb(46, 44, 44);
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    height: 600px;
    display: grid;
    grid-template-rows: 75% 25%;
}

.userImg{
    height: 100%;
    width: 100%;
}