#adminFilmReel {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin-bottom: 10px;
    gap: 20px;
    width: 100%; /* Ensure the reel spans parent */
}

#adminFilmContainer {
    overflow: hidden;
    border-radius: 24px;
    height: 600px;
    width: 300px;
    display: grid;
    background-color: black;
    color: white;
    text-align: center;
    grid-template-rows: 75% 25%;
    flex: 0 0 auto; /* Prevent shrinking */
}

#adminFilmPoster {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Ensure the poster scales correctly */
}

#filterAdminFilmInput{
    border: none;
    border-bottom: solid;
    margin-bottom: 10px;
    font-size: 200%;
}


