/* NewGenre.css */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#newContainer {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 400px;
}

#newForm h2 {
    margin-bottom: 15px;
}

#newForm label {
    display: block;
    margin-bottom: 10px;
}

#newForm input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#newButtons {
    display: flex;
    justify-content: space-between;
}

#newButtons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#newButtons button:first-child {
    background-color: #f44336;
    color: white;
}

#newButtons button:last-child {
    background-color: #4caf50;
    color: white;
}
